In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [10]:
#Death rate data set 
data_table_path = r"\Users\rockm\Desktop\Project-1-Team-4\jupyter_notebook\death_education.csv"

In [6]:
# Assuming your DataFrame is named 'data_table'
# Specify the columns to check for NaN values
columns_to_check = ['Death Rate', 'Deaths']

# Drop rows containing NaN values in the specified columns
data_table_cleaned = data_table.dropna(subset=columns_to_check)

# Display the cleaned DataFrame
print(data_table_cleaned)

NameError: name 'data_table' is not defined

In [7]:
import matplotlib.pyplot as plt
import pandas as pd

data_table['Year'] = pd.to_datetime(data_table['Year'], format='%Y')

# Filter data starting from the year 2012
filtered_data = data_table[data_table['Year'].dt.year >= 2012]

# Scatter plot
plt.figure(figsize=(12, 8))
plt.scatter(filtered_data['Year'], filtered_data['Deaths'])
plt.title('Scatter Plot of Death Rate by Year')
plt.xlabel('Year')
plt.ylabel('Death Count Totals')
plt.show()

NameError: name 'data_table' is not defined

In [8]:
import matplotlib.pyplot as plt
import pandas as pd

# Assuming 'data_table' is your DataFrame
# Convert 'YEAR' column to datetime format
data_table['Year'] = pd.to_datetime(data_table['Year'], format='%Y')

# Filter data starting from the year 2012 and excluding specific states
excluded_states = ['Virgin Islands', 'District of Columbia', 'Guam', 'Puerto Rico']
filtered_data = data_table[(data_table['Year'].dt.year >= 2012) & ~data_table['State'].isin(excluded_states)]

# Divide 'Death Rate' by 1000
filtered_data['Death Rate'] /= 1000

# Bar chart with vertical state ticks
plt.figure(figsize=(12, 8))
bars = plt.bar(filtered_data['State'], filtered_data['Death Rate'], color='red', alpha=0.7)

plt.title('Bar Chart of Death Rates by State (Excluding Specific States)')
plt.xlabel('State')
plt.ylabel('(per 1000)')

# Rotate x-axis labels for better visibility
plt.xticks(rotation=90, ha='center')  # Adjust the rotation angle and alignment as needed

plt.grid(axis='y')
plt.show()

NameError: name 'data_table' is not defined